@use "sass:map";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

$light: ( "background": white, "color": #333, "hover": rgba(0, 0, 0, 0.2) );
$dark: ( "background": #333, "color": #efefef, "hover": rgba(0, 0, 0, 0.2) );

$instruments: (
  "g": #7D8CC4,
  "b": #5AAA95,
  "m": #7B435B,
  "f": #E9806E,
  "u": #111D13,
);

@mixin pill {
  color: white;
  border: 2px white solid;
  font-size: 1.4rem;
  padding: 0.3rem;
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin: 0 auto;
  text-align: center;
}

@each $class, $hex in $instruments {
  span.#{$class} {
    @include pill;
    background-color: $hex;
  }
}

span.disabled {
  @include pill;
  background-color: #ED6A5A;  
}

.theme-btn {
  @include pill;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &.light {
    background-color: #D2A1B8;
  }

  &.dark {
    background-color: #D2A1B8;
  }
}

body {
  font-size: 1.2em;
  line-height: 1.2;
  font-family: "Fira Code", monospace;
  text-transform: lowercase;
  margin: 0;
  padding: 0;

  * { box-sizing: border-box; }
  p { margin: 0; }
  a { text-decoration: none; }
  li.disabled {
    cursor: not-allowed;
  }

  &.light {
    background-color: map-get($light, "background");
    a, p, li { color: map-get($light, "color") !important; }
    li { border-bottom: 1px map-get($light, "color") solid; }
    li:hover { background-color: map-get($light, "hover"); }
  }

  &.dark {
    background-color: map-get($dark, "background");
    a, p, li { color: map-get($dark, "color") !important; }
    li { border-bottom: 1px map-get($dark, "color") solid; }
    li:not(.disabled):hover { background-color: map-get($dark, "hover"); }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    width: 100%;
    padding: 1.2rem 2rem;
    transition: background-color 0.2s ease;
  }
}

div.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

  $bar-width: 5vw;

  & > div.bar {
    border-right: 1px map-get($dark, "color") solid;
    width: $bar-width;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 2vh;
    background-color: #333;
  }

  & > div.list {
    width: 100vw - $bar-width;
    position: absolute;
    top: 0;
    right: 0;

    & > div {
      padding: 5vh 10vw;
      max-width: 1100px;
    }
  }
}
